
.holePage {
    min-height: 100dvh;
    width: 100dvw;
    /* background: linear-gradient(0deg, rgba(12, 15, 7, 0.541) -10%, khaki 60%); */
    background: url('../../images/space-signin.jpg');
    
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Verdana, sans-serif;
}


.formWrapper {
    margin: auto;
    width: 90dvw;
    max-width: 400px;
    height: 85dvh;

    /* From https://css.glass */
    background:  rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    border: 1px solid white;
    box-shadow: 5px 5px 25px rgba(231, 227, 227, 0.568);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem rgba(10, 8, 8, 0.795));
    position: relative;
}

.formWrapper::before {
    content: '';
    margin: auto;
    width: 90%;
    max-width: 600px;
    height: 50dvh;
    background: url('../../images/crazy-rick.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 5%;
    border-radius: 16px;
    box-shadow: 5px 5px 25px rgba(231, 227, 227, 0.568);
    backdrop-filter: blur(1.9px);
    border: 1px solid tomato;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 85dvw;
    height: 50dvh;
    margin: auto;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formLabel {
    font-style: italic;
    font-weight: 500;
    color: whitesmoke;
    margin-left: 0ch;
}

.formInput {
    height: 22px;
    border-radius: 4px;
    border: 2px solid black;
    width: 35ch;
}

.errors {
    color: red;
    font-style: italic;
}

.submit {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-radius: 0px;
    border: none;
    background: linear-gradient(32deg, rgb(216, 63, 208) 24%, rgb(202, 11, 193) 63%);
    font-weight: 700;
    font-style: italic;
    box-shadow: 2px 3px 0px 0px black;
    transition: 0.2s;
}

.submit:hover {
    cursor: pointer;
    background: none;
    background-color: black;
    color: white;
}

.haveAcc {
    text-decoration: none;
    color: whitesmoke;
    font-family: Tahoma;
    padding-bottom: 5dvh;
    position: relative;
    top: 2%;
}



