.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    background: url('../../images/deep-space.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top;
    margin-top: 80px;
 }

 .filters {
    display: grid;
    width: 100%;
    background: rgba(0,0,0,0.3);
    column-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0.25em;
    padding: 10px 0 10px 0;
 }

 .filters label {
    color: greenyellow;
    font-family: Tahoma;
    font-style: italic;
 }

 .orderLab {
    grid-column: 3;
 }

 .order {
    grid-column: 4 / span 2;
 }

 .statusLab {
   grid-column: 8;
   grid-row: 1;
 }

 .status {
   grid-column: 9 / span 2;
   grid-row: 1;
}

.speciesLab {
   grid-column: 8;
   grid-row: 2;
 }

 .species {
   grid-column: 9 / span 2;
   grid-row: 2;
}

.genderLab {
   grid-column: 8;
   grid-row: 3;
}

.gender {
   grid-column: 9 / span 2;
   grid-row: 3;
}