
.searchbar {
    display: flex;
    width: 90dvw;
    max-width: 780px;
    height: 400px;
    background: url('../../images/rickandmorty.jpg');
    background-size: cover;
    background-position: 30% center;
    margin-top: 50px;
    position: relative;
    border-radius: 50px;
    font-family: Tahoma, Verdana, sans-serif;
}

button {
    appearance: none;
}


.barWrapper {
    display: flex;
    margin: auto;
    width: 80%;
    max-width: 525px;
    margin-top: 260px;
    /* From https://css.glass */
    background:  rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    border: 1px solid white;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
}

.bar {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 40px;
}

.inputSearch {
    height: 40px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.searchButton {
    min-width: 45px;
    font-size: 1.5rem;
    border: none;
    border-radius: 2px;
    height: 40px;
    text-align: center;
    background: linear-gradient(32deg, rgb(156, 158, 158) 24%, rgb(217, 224, 217) 63%);
    color: black;
    transition: 0.2s;
}

.searchButton:hover {
    cursor: pointer;
    box-shadow: -1px -2px 11px 3px rgba(0,0,0,0.75) inset;
}

.randomButton {
    margin-left: 20px;
    min-width: 75px;
    font-size: 0.8rem;
    font-family: sans-serif;
    border: none;
    height: 42px;
    text-align: center;
    background: linear-gradient(32deg, rgb(156, 158, 158) 24%, rgb(217, 224, 217) 63%);
    color: black;
    border-radius: 2px;
    transition: 0.2s;
}

.randomButton:hover {
    cursor: pointer;
    box-shadow: -1px -2px 11px 3px rgba(0,0,0,0.75) inset;
}

.clearAll {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    color: greenyellow;
}

.clearAll:hover {
    cursor: pointer;
}

