

.container {
    box-sizing: border-box;
    margin-top: 70px;
    background-color: black;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    color: white;
    margin: 10px auto;
}

.grid {
    display: flex;
}

.image {
    background: url('../../images/perfil.jpg') no-repeat;
    background-size: contain;
    height: 500px;
    width: 600px;
    border-bottom-right-radius: 20%px;
    transform: skewX(-10deg);
    position: absolute;
    right: -145px;
    top: 0px;
}

.imgDiv {
    margin-left: auto;
    margin-right: 20dvw;
    height: 500px;
    width: 200px;
    background-color: rgba(255,255,255,0.7);
    transform: skewX(10deg);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.text {
    transform: skewX(-10deg);
    color: white;
    display: flex;
    flex-direction: column;
}


.dataColumn {
    background-color: rgba(17, 19, 18, 0.80);
    height: 500px;
    width: calc(100px + 25dvw);
    margin-left: auto;
    margin-right: -18dvw;
    transform: skewX(10deg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid::before {
    content: '';
    height: 500px;
    width: 30dvw;
    margin-left: auto;
    margin-right: -40dvw;
    border-radius: 10px;
    border-left: 2px solid white;
}

.text::after {
    content: '';
    background-image: url('../../images/HenryLogoYellow.jpg');
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100px;
    margin-top: 50px;
    border-radius: 10vw;
    box-shadow: 2px 3px white;
}

@media screen and (max-width: 900px) {
    .grid::before {
        width: 80dvw;
        margin-right: -80dvw;
    }
    .dataColumn {
        margin-right: -5dvw;
    }
}

@media screen and (max-width: 750px) {
    .grid {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .grid:before {
        display: none;
    }
    .dataColumn {
        margin: auto;
        transform: skewX(-10deg);
        margin-bottom: 20px;
    }
    .text {
        transform: skewX(10deg);
    }
    .imgDiv {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}